<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pass-Gen-Manage</title>
    <style>
        body {
            background: linear-gradient(to left, #87CEEB, #1E90FF);
        }
        
        .rounded-button {
            border-radius: 20px; /* Adjust the value as needed to make the buttons more or less rounded */
        }
    </style>
</head>
{% extends 'base.html' %}

<body>
{% block content %}
    <h1><b>{% block title %} Welcome to Pass-Gen-Manage {% endblock %}</b></h1>
    <br>
    <form action="/view_table">
        <button type="submit" class="rounded-button">Show passwords</button>
    </form>
    <br>
    <form action="/add_entry">
        <button type="submit" class="rounded-button">Add a new entry</button>
    </form>
    <br>
    <form action="/pw_gen">
        <button type="submit" class="rounded-button">Generate a new password</button>
    </form>
    <br>
	<button class="rounded-button" onclick="window.location.href = '/';">Log out</button>
{% endblock %}
</body>
</html>
