<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Account Dashboard</title>
</head>
<body>
    <h1>Welcome to the Master Account Dashboard</h1>

    <p>
        <a href="/sign_up_master_account">Sign up Master Account</a>
    </p>
    
    <p>
        <a href="/login">Log in to Master Account</a>
    </p>
    
    <p>
        <a href="/change_password_master_account">Change Password for Master Account</a>
    </p>

</body>
</html>